body{
margin: 5%;
}
#botao{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    
}
#alunos{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    align-content: center;
    
}

button{
    width: 15%;
}
input{
    width: 15%;
}